<div class='container'></div>

<div class='blog-form'>
    <div class='main-form'>
        <%= form_for :blog, :url => "/api/blogAdd" do |f| %>
            <%= f.text_field :title %>
            <%= f.text_field :bannerCloudurl %>
            <%= f.text_field :content %>
            <%= f.text_field :id %>
        <% end %>
    </div>
    <div class='img-form'>
        <%= form_for :img, :url => "/api/imgAdd" do |f| %>
            <%= f.file_field :imgSrc %>
        <% end %>
    </div>
    <script>
      $(".blog-form .main-form form").ajaxForm();
      $(".blog-form .img-form form").ajaxForm();
    </script>
</div>